
  <!-- MODAL  -->

  <div class="modal fade signin control-label" tabindex="-1" role="dialog" aria-labelledby="mySignInModal">
    <div class="modal-dialog">
      <div class="modal-content">
        <%= render "signin" %>
      </div>
    </div>
  </div>
<!--  -->

  <nav class="navbar navbar-fixed-top navbar-inverse" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Learn.list</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->

      <div class="collapse navbar-collapse" id="navbar">
        <ul class="nav navbar-nav">

          <ul class="internal-nav nav navbar-nav">
            <% if (!current_user) %>
              <li><%= link_to "Home",   root_path %></li>
              <li><%= link_to "Help",   help_path %></li>
              <li><%= link_to "Sign in", '#', {:remote => true, 'data-toggle':"modal", 'data-target':'.signin'} %></li>
            <% else %>
              <li class=""><%= link_to "My Lists", "/users/#{current_user.id}", method: :get %></li>
              <<li><%= link_to "Help",   help_path %></li>
              <li class=""><%= link_to "Logout", '/sessions', method: :delete %></li>
              <ul class="nav navbar-nav navbar-right">
                <form class="navbar-form navbar-left" role="search">
                  <div class="form-group search">
                    <input type="text" class="form-control" placeholder="Search">
                      <button type="submit" class="btn search-btn">	&#128269;</button>
                  </div>
                </form>
              </ul>
            <% end %>
          </ul>
        </ul>


      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
