
<div class="sign-in-form">

  <%#= form_for User.new, method: "post" do |f| -%>

  <h5 class="sign-in-title">"Education is the kindling of a flame, not the filling of a vessel" - Socrates</h5>
  <%#= form_for(:session, url: sessions_path) do |f| -%>
  <%= form_for @user, url: "/sessions", method: "post" do |f| %>
    <%#= render "shared/flash_notice_signin" -%>
    <div>
      <%= f.label :email %>
      <%= f.text_field :email, placeholder: "Email: " %>
    </div>
    <div>
      <%= f.label :password %>
      <%= f.password_field :password, placeholder: "Password: " %>
    </div>

    <%= f.submit "Sign In" %>

  <% end %>

</div>
